S3method(print,pubmed_record)
export(entrez_email)
export(entrez_fetch)
export(entrez_global_query)
export(entrez_link)
export(entrez_post)
export(entrez_search)
export(entrez_summary)
export(parse_pubmed_xml)
